__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
venv/
.env/
env/
.venv/
ENV/
.Python
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
.pytest_cache/
.mypy_cache/
*.reload*
htmlcov/
.coverage
coverage.xml
.cache
.ipynb_checkpoints/
.env
